
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-container {
  width: 30%;
  height: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}


.board1 {
  border-right: 2px solid blue;
  border-bottom: 2px solid blue;
}
.board2 {
  border-right: 2px solid blue;
  border-bottom: 2px solid blue;
  border-left: 2px solid blue;
}
.board3 {
  border-bottom: 2px solid blue;
  border-left: 2px solid blue;
}
.board4 {
  border-top: 2px solid blue;
  border-right: 2px solid blue;
  border-bottom: 2px solid blue;
}
.board5 {
  border: 2px solid blue;
}
.board6 {
  border-top: 2px solid blue;
  border-left: 2px solid blue;
  border-bottom: 2px solid blue;
}
.board7 {
  border-top: 2px solid blue;
  border-right: 2px solid blue;
}
.board8 {
  border-right: 2px solid blue;
  border-top: 2px solid blue;
  border-left: 2px solid blue;
}
.board9 {
  border-top: 2px solid blue;
  border-left: 2px solid blue;
}